<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head', {title: 'Carrito'}) %>
<% 
function round(val) {
  return Math.round(val*100)/100;
}
%>
<link rel="stylesheet" href="/css/carrito.css">

<body>
    <div class="bodys">
        <%- include('./partial/header', {user}) %>
        <div class="encierro"> 
        <div class="carritoContainer row no-wrap">
            <div class="productList">
                <div class="cartHeaders row no-wrap">
                    <div class="carritoHeader">Tu Carrito</div>
                    <div class="precioHeader">Precio</div>
                    <div class="cantidadHeader">Cantidad</div>
                </div>
                <% items.forEach(p => { %>
                <div class="cartProduct row no-wrap">
                    <img src="<%- "/img/" + p.image %>" alt="image" class="cartProductImage">
                    <div class="cartProductDetail">
                        <div class="cartDetailName"><%- p.name %> </div>
                        <div class="cartDetailBrand"><%- p.brand %></div>
                        <div class="envioGratis">Envío Gratuito</div>
                        <div class="clickeables row no-wrap">
                            <div class="saveForLater">Guardar para después</div>
                            |
                            <div class="deleteProduct">Eliminar</div>
                        </div>


                    </div>
                    <div class="cartProductPrice">
                        ARS <%- round(p.price) %>
                    </div>
                    <div class="cartProductQuantity">
                        1
                    </div>
                </div>
                <% }); %>
            </div>
            <div class="cartSummary">
                <div class="row no-wrap cartSummaryHeader">
                    <div class="bold">Subtotal (<%- data.length %>)</div>
                    <div class="totalPrice bold redText">ARS <%-
                        round(data.map(p => p.price).reduce((a, b) => a + b)) %> </div>
                </div>
                <div class="cartSummaryButtons">
                    <div class="startCheckout cartButton">Realizar el pago</div>
                    <a href="/lista">
                        <div class="backToShop cartButton">Continuar comprando</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="ofertasasa">
    <img src="img/BANNER-FORMAS-DE-PAGO.jpg" alt="" class="imga">
</div> -->
    <%- include('partial/footer') %>
</body>

</html>