<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head', {title: 'Carrito'}) %>
<% 
function round(val) {
  return Math.round(val*100)/100;
}
%>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Carrito</title>
</head>

<body>
    <div class="bodys">
        <%- include('./partial/header') %>
        <div class="carritoContainer row no-wrap">
            <div class="productList">
                <div class="cartHeaders row no-wrap">
                    <div class="carritoHeader">Tu Carrito</div>
                    <div class="precioHeader">Precio</div>
                    <div class="cantidadHeader">Cantidad</div>
                </div>
                <% data.forEach(p => { %>
                <div class="cartProduct row no-wrap">
                    <img src="<%- "/img/" + p.image %>" alt="image" class="cartProductImage">
                    <div class="cartProductDetail">
                        <div class="cartDetailName"><%- p.name %> </div>
                        <div class="cartDetailBrand"><%- p.brand %></div>
                        <div class="envioGratis">Envío Gratuito</div>
                        <div class="clickeables row no-wrap">
                            <div class="saveForLater">Guardar para después</div>
                            |
                            <div class="deleteProduct">Eliminar</div>
                        </div>


                    </div>
                    <div class="cartProductPrice">
                        ARS <%- round(p.price) %>
                    </div>
                    <div class="cartProductQuantity">
                        1
                    </div>
                </div>
                <% }); %>
            </div>
            <div class="cartSummary">
                <div class="row no-wrap cartSummaryHeader">
                    <div class="bold">Subtotal (<%- data.length %>)</div><div class="totalPrice bold redText">ARS <%-
                        round(data.map(p => p.price).reduce((a, b) => a + b)) %> </div>
                </div>
                <div class="cartSummaryButtons">
                    <div class="startCheckout cartButton">Realizar el pago</div>
                    <div class="backToShop cartButton">Continuar comprando</div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <h3> P2 TEC ©️ 2020 / CONTACTO </h3>
    </footer>
</body>

</html>