<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head') %> 
<body>
    <header class="main-header">
        <img src="/public/img/1.png" alt="logotipo" class="logo">

        

        <div id="mob-search">
        <div class="search-sug" id="search-sug">
        </div>
        <div class="search">
        <form name="newFormMob" onsubmit="if (!window.__cfRLUnblockHandlers) return false; searchModMob()" method="GET" data-cf-modified-1517ea0d33e7160c0c25394c-="">
        <input type="text" class="search" autocomplete="off" id="searchidmob" placeholder="Buscar...">
        <img src="img/descarga.png" alt="serch">
        <input type="hidden" value="cat">
        </form>
        </div>
        
        <ul>
            <li>Iniciar Sesión</li>
            <li>Regístrate</li>
        </ul>
        

        <img src="img/carrito.png" alt="logotipo" class="logo">

        <span class="fa fa-bars"></span>
        <div id="header">
            <ul class="nav">
                <li><a href="">PRODUCTOS</a>
                    <ul>
                        <li><a href="">Computadoras</a></li>
                        <li><a href="">Componentes</a></li>
                        <li><a href="">Notebooks</a></li>
                        <li><a href="">Monitores</a></li>
                        <li><a href="">Sonido y Video</a></li>
                        <li><a href="">Accesorios</a></li>
                        <li><a href="">Conectividad</a></li> 
                        </li>
                    </ul>
                </li>
               
        </div>
</header>
<div class="detalleproducto">
    <div class="especificado">
    <i class="fas fa-times-circle"></i>
    <img src="img/1.png" alt="logotipo" class="logo">
    <img src="img/computadora (2).png" alt="imagen">
    </div>
    <h2 class=titl> PC ARMADA GAMER RYZEN </h2>
    <ul>
        <li> MICRO: AMD RYZEN 7 3700X x8 nucleos 16 hilos con cooler BOX </li>
        <li> VIDEO: RADEON RX 5500 XT 4GB GDD5 BOX </li>
        <li> MOTHER: MSI B450M PROM M2 DDR4 - USB 3.0 </li>
        <li>DISCO ESTADO SOLIDO: SSD480 SATA3 </li>
        <li>MEMORIA RAM: 16GB 2666MHZ DDR4</li>
        <li>GABINETE: ATX SENTEY G8 Power KIT </li>
        <li>FUENTE: THERMALTAKE 500W REALES</li>
        <li>SISTEMA OPERATIVO: WINDOWS 10 TRIAL 64 Bits</li>
    </ul>
    <i class="fab fa-cc-visa"></i>
    <i class="fab fa-cc-mastercard"></i>
    <i class="fab fa-cc-amex"></i>
    <img src="img/mercadopago.png" alt="mercadopago">
<h4>COTIZA TU ENVIO</h4>
<H4>COPIAR ENLACE</H4>
</div>

<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Detalle del producto: <%= product.name %> </h2>
			</div>
		</div>
		<div class="product-detail">
			<div class="row">
				<div class="col-12 col-lg-8">
					<img src="/img/<%= product.image %> " alt="imagen de producto">
					<p class="product-detail-description">
						<%= product.description %>
					</p>
				</div>
				<div class="col-12 col-lg-4">
					<article class="product-detail-info">
						<h2 class="product-detail-title"><%= product.name %></h2>
						

						<ul class="actions-list">
							<li>
								<i class="fas fa-credit-card"></i>
								<p>Pagá en 12 cuotas sin interes</p>
							</li>
							<li>
								<i class="fas fa-store"></i>
								<p>Retiro gratis en locales del vendedor</p>
							</li>
						</ul>

						<a href="#" class="buy-now-button">COMPRAR AHORA</a>
						<hr>

						
					</article>
				</div>
			</div>
		</div>
	</div>



<footer>
    <h3> P2 TEC ©️ 2020 / CONTACTO </h3>
</footer>
</body>
</html>