<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partial/head', {title: 'Hystory', image: '/img/numero.png'}) %>
<link rel="stylesheet" href="/css/carrito.css">

<body>
   <!-- Header -->
   <%- include('./partial/header', {user}) %>
   <!-- /Header -->

   <div class="container products-wrapper">
      <div class="">
         <div class="">
            <h1 class="products-title">Carrito de compras</h1>
         </div>
      </div>
      <div class="history1">
         <div class="history2">
            <div class="history3">
               <% if(carts.length != 0){ %>
               <% carts.forEach(cart => { %>
               <a href="/carrito/buy-detail/<%= cart.id %>">
                  <div class="historyDesc">
                        <h4 class=""><%= new Date(cart.createdAt).toLocaleDateString() %> </h4>
                           <div class="">
                              <h5>Descripcion del producto</h5>
                              <ul>
                                 <% cart.items.forEach(item => { %>
                                    <li style="font-size: 12px;">
                                       <img src="/img/<%= item.product.image %>" alt="imagen" class="fotoProductoDetalle" data="/img/<%= item.product.image %>" >
                                       
                                          <%= item.product.name %> x<%= item.quantity %>
                                       
                                    </li>
                                 <% }) %>
                              </ul>
                           </div>
                           <div class="">
                              <p class="product-detail-price">
                                 $<%= cart.total %>
                              </p>
                           </div>
                  </div>
               </a>
               
               <% }); %>
               
               <% } else { %>
               <div class="">
                  <h2 class="products-title" style="padding: 100px 0; color: tomato;">Aún no tienes compras</h2>
               </div>
               <% } %>
            </div>
            <div class="">
                  <h2 class="historyUsername">
                     <%= locals.user.username %>
                  </h2>
                  <hr>
            </div>
         </div>
      </div>
   </div>

   <!-- footer -->
   <%- include('partial/footer') %>
   <!-- /footer -->
</body>

</html>