<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head', {title: "Prueba"}) %>
<% 
function round(val) {
  return Math.round(val*100)/100;
} 
%>
<!-- <link rel="stylesheet" href="/css/prueba.css"> -->
<link rel="stylesheet" href="/css/lista.css">

<body>
    <%- include('./partial/header') %>
    <div class="encierro">
        <div class="centradoLista row wrap nostyle">
            <aside class="a">
                <h1>Categorias</h1>
                <ul class="brands">
                    <h4>Tipos de marcas</h4>
                    <div class="prod">

                        <a href="/lista/aorus"><label class="pointer" for="Aorus">Aorus</label> </a>
                        <br>
                    </div>
                    <div class="prod">

                        <a href="/lista/asus"><label class="pointer" for="Asus">Asus</label> </a>
                        <br>
                    </div>
                    <div class="prod">

                        <a href="/lista/adata"><label class="pointer" for="AData">Adata</label> </a>
                        <br>
                    </div>
                    <div class="prod">

                        <a href="/lista/seagate"><label class="pointer" for="Seagate">Seagate</label> </a>
                        <br>
                    </div>
                    <div class="prod">

                        <a href="/lista/ballistix"><label class="pointer" for="Ballistix">Ballistix</label> </a>
                        <br>
                    </div>
                    <div class="prod">

                        <a href="/lista/amd"><label class="pointer" for="AMD">AMD</label> </a>
                        <br>
                    </div>
                </ul>
                <ul class="products">
                    <h4>Tipos de Categorias</h4>
                    <div class="prod">

                        <a href="/lista/Componentes"><label class="pointer" for="auriculares">Componentes</label> </a>
                        <br>
                    </div>
                    <div class="prod">

                        <a href="/lista/Notebooks"><label class="pointer" for="teclados">Notebooks</label> </a>
                        <br>
                    </div>
                    <div class="prod">

                        <a href="/lista/Monitores"><label class="pointer" for="monitores">Monitores</label> </a>
                        <br>
                    </div>
                    <div class="prod">

                        <a href="/lista/Perifericos"><label class="pointer" for="mouse">Perifericos</label> </a>
                        <br>
                    </div>
                    <div class="prod">

                        <a href="/lista/Notebooks"><label class="pointer" for="notebook">Notebook</label> </a>
                        <br>
                    </div>
                </ul>
                <ul class="products">
                    <h4>Tipos de PC</h4>
                    <div class="prod">

                        <a href="/lista/PcOffice"> <label class="pointer" for="pcHomeOffice">PC Home Office</label> </a>
                        <br>
                    </div>
                    <div class="prod">

                        <a href="/lista/PcStreamer"><label class="pointer" for="pcStreamer">PC Steamer</label> </a>
                        <br>
                    </div>
                    <div class="prod">

                        <a href="/lista/PcDiseno"><label class="pointer" for="pcDiseno">PC Diseño</label> </a>
                        <br>
                    </div>

                </ul>
            </aside>
            <div class="prodList">
                <%  data.forEach(p => { %>

                <div class="listadeproductoscompleto">
                    <div class="producto productoTest producto-<%- p.id %>">
                        <a href="/lista/detail/<%- p.id %>">
                            <img src="<%- "/img/" + p.image %>" alt="" class="fotoProducto">
                        </a>
                        <div class="descripcionesTest">
                            <a href="/lista/detail/<%- p.id %>">
                                <h3 class="nombreProducto"><%- p.name %></h3>
                            </a>
                            <p class="detalleProducto"><%- p.descripcion %></p>


                            <form action="/lista/detail/<%- p.id %>" method="GET">
                                <!-- <label for="quantity" style="font-size: 14px; width: 100%;">Cantidad</label> -->
                                <input type="hidden" style="font-size: 14px;" id="quantity" name="quantity" value="1">
                                <p class="error">
                                    <%= typeof errors == 'undefined' ? '' : errors.quantity ? errors.quantity.msg : '' %>
                                </p>
                                <input type="hidden" name="productId" value="<%= p.id %>">
                                <div class="buyOptions">
                                    <button type="submit" class="mt-4 buy-now-button">AGREGAR AL CARRITO</button>
                                    <button type="submit" class="mt-4 buy-now-button">COMPRAR</button>
                                </div>
                            </form>

                            <h2 class="precioProducto">ARS$ <%- round(p.price) %></h2>
                        </div>
                    </div>
                    <hr>
                </div>

                <% }) %>
            </div>
        </div>
    </div>

    <%- include('partial/footer') %>

</body>

</html>