<!DOCTYPE html>

<html lang="en">
<%- include('./partial/head', {title: 'Perfil'}) %>
<link rel="stylesheet" href="/css/perfile.css">

<body>

    <%- include('./partial/header', {user})%>

    <section class="slicebg-3">
        <div class="w-section inverse shop">
            <div class="containerperfil">
                <div class="misdatos">
                    <div class="rowperfil">

                        <div class="col-md-3 mt-20">

                            <h1 class="section-title mi_cuenta"><i class="fa fa-users-cog"></i>&nbsp;Mi Cuenta</h1>
                            <img src=<%= "/img/users/" + user.image %> alt="FotoPerfil" class="profilePic">
                            <div class="widget oculto-movil-">
                                <ul class="categories">
                                    <% if (typeof user !== 'undefined' && user.rol === 1) {%>
                                    <li><a href="/perfil/controlarea" class="continuar"><i
                                                class="fas fa-user-tag"></i>&nbsp;Panel de Control</a></li>
                                    <li><a href="http://localhost:3000" class="continuar"><i
                                                class="far fa-clipboard"></i>&nbsp;Dashboard</a></li>
                                    <li><a href="/carrito/history" class="continuar"><i
                                                class="fa fa-shopping-cart "></i>&nbsp;Mis compras</a></li>
                                    <li><a href="/perfil/editpas/<%= user.id %>" class="continuar"><i
                                                class="fa fa-key"></i>&nbsp;Cambiar mi contraseña</a></li>
                                    <% } else { %>
                                    <li><a href="/carrito/history" class="continuar"><i
                                                class="fa fa-shopping-cart "></i>&nbsp;Mis compras</a></li>
                                    <li><a href="/perfil/editpas/<%= user.id %>" class="continuar"><i
                                                class="fa fa-key"></i>&nbsp;Cambiar mi contraseña</a></li>
                                    <li><a href="/perfil/comentario" class="continuar"><i class="far fa-star"></i>Crear
                                            una reseña del producto</a></li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8 ml-4 mt-20">
                            <div class="w-sectioninverse">

                                <h3><i class="fa fa-list-alt"></i>&nbsp; Mis datos</h3>
                                <table class="table table-cart table-responsive">
                                    <tbody id="contentPedido">
                                        <form id= "trash"  id="actualizarCuenta" action="/perfil/<%= user.id %>" method="POST"
                                            name="actualizarCuenta" class="col-lg-12">

                                            <div class="col-lg-6 col-xs-12 pull-left mt-0 mb-4">
                                                <div class="col-lg-12 pl-0">
                                                    <h5>Datos personales</h5>
                                                </div>
                                                <div class="col-lg-3 col-xs-12 pull-left mt-0 pl-0">
                                                    <label class="control-label w-100 mt-0">ID cliente:</label>
                                                    <input class="form-control pl-2" value="<%= user.id %> "
                                                        disabled="disabled" />
                                                </div>
                                                <div class="col-lg-9 col-xs-12 pull-left mt-0 pl-0">
                                                    <label class="control-label w-100 mt-0">Email:</label>
                                                    <input class="form-control pl-2" name="email"
                                                        value="<%= user.email %>" />
                                                </div>

                                                <div class="col-lg-6 col-xs-12 pull-left mt-4 pl-0">
                                                    <label class="control-label w-100 mt-0">Nombre de usuario:</label>
                                                    <input class="form-control pl-2" id="campo_cliNombre"
                                                        name="username" value="<%= user.username %>" />
                                                </div>
                                                <div class="password">
                                                    <label class="control-label w-100 mt-0">Contraseña:</label>
                                                    <input class="passwordInput" type="password" id="passsword"
                                                        name="password" autocomplete="off" placeholder="Contraseña"
                                                        value="" required>
                                                    <p class="error">
                                                        <%= typeof errors == 'undefined' ? null : (errors.password ? errors.password.msg : null) %>
                                                    </p>
                                                </div>
                                                <div class="col-lg-12 col-xs-12 mt-3 pl-0">
                                                    <button type="submit" class="btn btn-blue"><i class="fa fa-check"
                                                            aria-hidden="true"></i> Actualizar mis datos</button>
                                                </div>
                                            </div>
                                        </form>
                                        <form action="/perfil/datos" method="POST" id="datosSecundarios"
                                            name="datosSecundarios">
                                            <div class="col-lg-6 pull-left mt-0">
                                                <div class="col-lg-12 pl-0">
                                                    <h5>Dirección de envío</h5>
                                                </div>
                                                <div class="col-lg-12 col-xs-12 pull-left mt-0 pl-0">
                                                    <label class="control-label w-100 mt-0">Dirección:</label>
                                                    <input class="form-control pl-2" name="Direccion"
                                                        value="<%= user.address %>" />
                                                </div>
                                                <div class="col-lg-6 col-xs-12 pull-left mt-4 pl-0">
                                                    <label class="control-label w-100 mt-0">Piso / Depto:</label>
                                                    <input class="form-control pl-2" name="Direccion2"
                                                        value="<%= user.floor %>" />
                                                </div>
                                                <div class="col-lg-6 col-xs-12 pull-left mt-4 pl-0">
                                                    <label class="control-label w-100 mt-0">Cod. postal:</label>
                                                    <input class="form-control pl-2" name="CodPostal"
                                                        value="<%= user.PostalCode %>" />
                                                </div>
                                                <div class="col-lg-6 col-xs-12 pull-left mt-4 pl-0">
                                                    <label class="control-label w-100 mt-0">Localidad:</label>
                                                    <input class="form-control pl-2" name="Localidad"
                                                        value="<%= user.location %>" />
                                                </div>
                                                <div class="col-lg-6 col-xs-12 pull-left mt-4 pl-0">
                                                    <label class="control-label w-100 mt-0">Provincia:</label>
                                                    <select name="Provincia" class="form-control pl-2"
                                                        placeholder="Provincia" value="">
                                                        <option value="<%= user.Province %>">Provincia</option>
                                                        <option value="BuenosAires">
                                                            Buenos Aires </option>
                                                        <option value="CABA">
                                                            CABA </option>
                                                        <option value="Catamarca">
                                                            Catamarca </option>
                                                        <option value="Chaco">
                                                            Chaco </option>
                                                        <option value="Chubut">
                                                            Chubut </option>
                                                        <option value="Corrientes">
                                                            Corrientes </option>
                                                        <option value="Córdoba">
                                                            Córdoba </option>
                                                        <option value="EntreRíos">
                                                            Entre Ríos </option>
                                                        <option value="Formosa">
                                                            Formosa </option>
                                                        <option value="Jujuy">
                                                            Jujuy </option>
                                                        <option value="LaPampa">
                                                            La Pampa </option>
                                                        <option value="LaRioja">
                                                            La Rioja </option>
                                                        <option value="Mendoza">
                                                            Mendoza </option>
                                                        <option value="Misiones">
                                                            Misiones </option>
                                                        <option value="Neuquén">
                                                            Neuquén </option>
                                                        <option value="RíoNegro">
                                                            Río Negro </option>
                                                        <option value="Salta">
                                                            Salta </option>
                                                        <option value="SanJuan">
                                                            San Juan </option>
                                                        <option value="SanLuis">
                                                            San Luis </option>
                                                        <option value="SantaCruz">
                                                            Santa Cruz </option>
                                                        <option value="SantaFe">
                                                            Santa Fe </option>
                                                        <option value="SantiagoDelEstero">
                                                            Santiago del Estero </option>
                                                        <option value="TierraDelFuego">
                                                            Tierra del Fuego </option>
                                                        <option value="Tucumán">
                                                            Tucumán </option>
                                                    </select> </div>
                                                <div class="col-lg-12 col-xs-12 mt-3 pl-0">
                                                    <button type="submit" class="btn btn-blue"><i class="fa fa-check"
                                                            aria-hidden="true"></i> Actualizar dirección</button>
                                                </div>

                                            </div>
                                        </form>

                                    </tbody>
                                </table>


                            </div>
                        </div>

                    </div>
                </div>




            </div>
        </div>
    </section>

    <%- include('partial/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>		
	<script src= "/js/sweetAlerts.js"></script>
</body>