<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head', {title: Producto}) %>

<body>
	<%- include('./partial/header') %>
	<div class="detalleproducto">
		<div class="especificado">
			<i class="fas fa-times-circle"></i>
			<img src="img/1.png" alt="logotipo" class="logo">
			<img src="img/computadora (2).png" alt="imagen">
		</div>
		<h2 class=titl> PC ARMADA GAMER RYZEN </h2>
		<ul>
			<li> MICRO: AMD RYZEN 7 3700X x8 nucleos 16 hilos con cooler BOX </li>
			<li> VIDEO: RADEON RX 5500 XT 4GB GDD5 BOX </li>
			<li> MOTHER: MSI B450M PROM M2 DDR4 - USB 3.0 </li>
			<li>DISCO ESTADO SOLIDO: SSD480 SATA3 </li>
			<li>MEMORIA RAM: 16GB 2666MHZ DDR4</li>
			<li>GABINETE: ATX SENTEY G8 Power KIT </li>
			<li>FUENTE: THERMALTAKE 500W REALES</li>
			<li>SISTEMA OPERATIVO: WINDOWS 10 TRIAL 64 Bits</li>
		</ul>
		<i class="fab fa-cc-visa"></i>
		<i class="fab fa-cc-mastercard"></i>
		<i class="fab fa-cc-amex"></i>
		<img src="img/mercadopago.png" alt="mercadopago">
		<h4>COTIZA TU ENVIO</h4>
		<H4>COPIAR ENLACE</H4>
	</div>

	<body>
		<!-- Header -->
		<%- include('partials/headerNavbar') %>
		<!-- /Header -->

		<!-- product detail -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Detalle del producto: <%= product.name %> </h2>
				</div>
			</div>
			<div class="product-detail">
				<div class="row">
					<div class="col-12 col-lg-8">
						<img src="/images/products/<%= product.image %>" alt="product image" class="product-detail-img">
						<p class="product-detail-description">
							<%= product.description %>
						</p>
					</div>
					<div class="col-12 col-lg-4">
						<article class="product-detail-info">
							<h2 class="product-detail-title"><%= product.name %></h2>
							<% if(product.discount > 0) { %>
							<p class="product-detail-price small">
								<span>$<%= product.price %></span>
								/
								<b><%= product.discount %>% OFF</b>
							</p>
							<p class="product-detail-price">
								$<%= product.price - (product.price * product.discount / 100) %>
							</p>
							<% } else { %>
							<p class="product-detail-price">
								$<%= product.price %>
							</p>
							<% } %>
							<ul class="actions-list">
								<li>
									<i class="fas fa-credit-card"></i>
									<p>Pagá en 12 cuotas sin interes</p>
								</li>
								<li>
									<i class="fas fa-store"></i>
									<p>Retiro gratis en locales del vendedor</p>
								</li>
							</ul>

							<a href="#" class="buy-now-button">COMPRAR AHORA</a>
							<hr>

							<a href="/products/edit/<%= product.id %> " class="action-button edit">EDITAR PRODUCTO</a>
							<form action="/products/delete/<%= product.id %>" method="POST"
								style="display: inline-flex">
								<button type="submit" class="action-button delete">ELIMINAR</button>
							</form>
						</article>
					</div>
				</div>
			</div>
		</div>
		<!-- /product detail -->

		<!-- footer -->
		<%- include('partials/footer') %>




		<footer>
			<h3> P2 TEC ©️ 2020 / CONTACTO </h3>
		</footer>
	</body>

</html>