
<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head', {title: 'CreateProduct'}) %>
<link rel="stylesheet" href="/css/register.css">

<body>
    <!-- Header -->
    <%- include('./partial/header') %>
    <div class="encierro">
        <div class="loginContainer row no-wrap">
            <main class="login-publi row no-wrap">
                <div class="loginCompleto">
                   
                    
                    <div class="form-container">
                        <div class="loginTitulo">AGREGAR PRODUCTO</div>
                        <form class="loginForm" action="/lista/create" method="POST" autocomplete="off" enctype="multipart/form-data">
                           
                            <div class="field-group">
                                <div class="username">
									<label for="name" class="form-label">Nombre del producto:</label>
									<input  class="name" type="text" id="name" name="name" placeholder="Ej: Zapatillas Reebok" class="form-input">
                                    </p>
                                </div>
                                <div class="email"> 
                                    <label for="price" class="form-label">Precio del producto:</label>
									<input  class="emailInput" type="text" id="price" name="price" placeholder="Ej: 5678" class="form-input">
                                </div>
                                <div class="descripcion"> 
                                    <label for="descripcion" class="form-label">Descripcion:</label>
									<input  class="descripcion" type="text" id="descripcion" name="descripcion" placeholder="Ej: 5678" class="form-input">
                                </div>
                                <div class="password">
									<label for="categoryId" class="form-label">Categoría:></label>
									<select name="categoryId" id="categoryId" class="form-input">
										<option value="">Elegí</option>
										<% categories.forEach(function(category) {  %>  
										<option value="<%=category.id%>"> <%=category.name%> </option>
										<%})%>  
									</select>
                                </div>
                                <div class="password">
									<label for="categoryId" class="form-label">Marca:</label>
									<select name="brandId" id="brandId" class="form-input">
										<option value="">Elegí</option>
										<% brands.forEach(function(brands) {  %>  
										<option value="<%=brands.id%>"> <%=brands.name%> </option>
										<%})%>  
									</select>
                                </div>
                                   <div class="remember">
                                    <label for="image" class="form-label">Avatar:</label>
                                    <input type="file" id="image" name="image" class="avatarBotton">
                                    <div>
                                        <p class="error">
                                            <%= typeof errors == 'undefined' ? null : errors.image ? errors.image.msg : null %>
                                        </p>
                                    </div>
                                </div>
                                <div class="col2">
									<button type="submit" class="buy-now-button">Guardar producto</button>
								</div>
                            </div>
                        </form>
                        <div class="logoFormulario">
                            <img src="/img/numero.png" alt="logopP2Tec">
                        </div>
                    </div>
                    
                </div>

            </main>
        </div>
    </div>



    <%- include('partial/footer') %>


</body>

</html>