<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head', {title: 'Formulario'}) %>
<link rel="stylesheet" href="/css/formulario.css">

<body>
    <!-- Header -->
    <%- include('./partial/header') %>
    <!-- /Header -->
    <div class="encierro"> 
    <div class="container row no-wrap">
        <main>
            <div class="registerCompleto">
                <div class="registerTitulo">Registrarse</div>
                <section class="form-container2">
                    <form class="registerForm" action="/register" method="POST">
                        <div class="field-group"><br>
                            <div class="username">
                                <label for="username">Nombre de usuario *</label>
                                <input class="usernameInput" type="username" id="username" name="username"
                                    placeholder="Nombre de usuario" value="" required>
                            </div>
                            <div class="email">
                                <label for="email">Email *</label>
                                <input class="emailInput" type="email" id="email" name="email" placeholder="Email"
                                    value="" required>
                                    <p class="error">
                                        <% if (typeof errors != 'undefined' ) { %>
                                            <% if (errors.email) { %>
                                                <%= errors.email.msg %>
                                             <% } %>
                                        <% } %>
                                    </p>
                            </div>
                            <div class="password">
                                <label for="password">Contrase単a *</label>
                                <input class="passwordInput" type="password" id="passsword" name="password"
                                    placeholder="Contrase単a" value="" >
                                    <p class="error" required>
                                    </p>
                            </div>
                            <div class="password">
                                <label for="password">Repetir Contrase単a *</label>
                                <input class="passwordInput" type="password" id="passsword" name="retypepassword"
                                    placeholder="Repetir contrase単a" value="" >
                                    <p class="error" required>
                                        <% if (typeof errors != 'undefined' ) { %>
                                            <%= errors.password ? errors.password.msg : ''%>
                                        <% } %>
                                    </p>
                            </div>
                            <button class="registerButton" type="submit" >Registrarse</button>
                        </div>
                    </form>
                </section>
            </div>
        </main>
    </div>
</div>




    <%- include('partial/footer') %>


</body>

</html>