<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head', {title: 'Register'}) %>
<link rel="stylesheet" href="/css/register.css">

<body>
    <!-- Header -->
    <%- include('./partial/header') %>
    <div class="encierro">
        <div class="loginContainer row no-wrap">
            <main class="login-publi row no-wrap">
                <div class="loginCompleto">


                    <div class="form-container">
                        <div class="loginTitulo">REGISTER</div>
                        <form class="loginForm" action="/register" method="POST" autocomplete="off"
                            enctype="multipart/form-data">

                            <div class="field-group">
                                <div class="username">
                                    <input class="usernameInput" type="username" id="username" name="username"
                                        placeholder="Nombre de usuario" value=""
                                        required><%= typeof errors == 'undefined' ? null : errors.username ? errors.username.msg : null %>
                                    </p>
                                </div>
                                <div class="email">
                                    <input class="emailInput" type="email" id="email" name="email" placeholder="Email"
                                        autocomplete="off" value="" required>
                                    <p class="error">
                                        <%= typeof errors == 'undefined' ? null : errors.email ? errors.email.msg : null %>
                                    </p>
                                </div>
                                <div class="password">
                                    <input class="passwordInput" type="password" id="passsword" name="password"
                                        autocomplete="off" placeholder="Contraseña" value="" required>
                                    <p class="error">
                                        <%= typeof errors == 'undefined' ? null : errors.password ? errors.password.msg : null %>
                                    </p>
                                </div>
                                <div class="password">
                                    <input class="passwordInput" type="password" id="retype" name="retype"
                                        placeholder="Repetir contraseña" value="">
                                    <p class="error" required>
                                        <%= typeof errors == 'undefined' ? null : errors.retype ? errors.retype.msg : null %>
                                    </p>

                                </div>
                                <div class="remember">
                                    <label for="image" class="form-label">Avatar:</label>
                                    <input type="file" id="image" name="image" class="avatarBotton">
                                    <div>
                                        <p class="error">
                                            <%= typeof errors == 'undefined' ? null : errors.image ? errors.image.msg : null %>
                                        </p>
                                    </div>
                                </div>
                                <button class="registerButton" type="submit">Registrarse</button>
                            </div>
                        </form>
                        <div class="logoFormulario">
                            <img src="/img/numero.png" alt="logopP2Tec">
                        </div>
                    </div>

                </div>

            </main>
        </div>
    </div>



    <%- include('partial/footer') %>


</body>

</html>