<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head', {title: 'Formulario'}) %>
<link rel="stylesheet" href="/css/formulario.css">

<body>
    <!-- Header -->
    <%- include('./partial/header') %>
    <!-- /Header -->
    <div class="encierro"> 
    <div class="container row no-wrap">
        <main>
            <div class="registerCompleto">
                <div class="registerTitulo">Registrarse</div>
                <section class="form-container2">
                    <form class="registerForm" action="/register" method="POST">
                        <div class="field-group"><br>
                            <div class="username">
                                <label for="username">Nombre de usuario *</label>
                                <input class="usernameInput" type="username" id="username" name="username"
                                    placeholder="Nombre de usuario" value="" required>
                            </div>
                            <div class="email">
                                <label for="email">Email *</label>
                                <input class="emailInput" type="email" id="email" name="email" placeholder="Email"
                                    value="" required>
                                    <p class="error">
                                        <% if (typeof errors != 'undefined' ) { %>
                                            <% if (errors.email) { %>
                                                <%= errors.email.msg %>
                                             <% } %>
                                        <% } %>
                                    </p>
                            </div>
                            <div class="password">
                                <label for="password">Contraseña *</label>
                                <input class="passwordInput" type="password" id="passsword" name="password"
                                    placeholder="Contraseña" value="" >
                                    <p class="error" required>
                                    </p>
                            </div>
                            <div class="password">
                                <label for="password">Repetir Contraseña *</label>
                                <input class="passwordInput" type="password" id="passsword" name="retypepassword"
                                    placeholder="Repetir contraseña" value="" >
                                    <p class="error" required>
                                        <% if (typeof errors != 'undefined' ) { %>
                                            <%= errors.password ? errors.password.msg : ''%>
                                        <% } %>
                                    </p>
                            </div>
                            <button class="registerButton" type="submit" >Registrarse</button>
                        </div>
                    </form>
                </section>
            </div>
        </main>
    </div>
</div>
<div class="registracionreglas">
<div class="registrationator">
    <h2>¿Por qué registrarse?</h2>
    <p>Con tu registro podrás realizar compras online en nuestro sitio web. Los datos que dejes aquí los utilizaremos para contactarnos y enviarte los productos que hayas comprado. Tambien los utilizaremos para la confección de los comprobantes fiscales que deben acompañar a dichos productos. No utilizaremos tus datos para ningún otro fin, ni para enviarte información que no hayas solicitado. Para más información mira nuestras políticas de privacidad.</p>
    <h2>Recordá:</h2>
    <p>Es muy importante que coloques todos tus datos reales a la hora de registrar tu cuenta. Ante cualquier inconveniente vamos a estar comunicándonos con vos por teléfono o vía email.</p>
</div>
</div>

    <%- include('partial/footer') %>


</body>

</html>